#portfolio {
    background-color: var(--quinary);
    z-index: 2;
    /*padding: 50px 0; */
}

#portfolio h1 {
    color: var(--tertiary);
    font-size: 2.2rem;
    text-align: center;
}

#portfolio .line-container {
    margin-left: 22px;
}

#portfolio .line {
    margin: -43px auto 10px;
    width: 210px;
    height: 12px;
    background-color: var(--secondary);
}

.portfolio-container {
    margin: 50px 200px;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after  {
    background: var(--primary) !important;
}

.card {
    display: flex;
    margin: 50px 0;
    padding: 50px 0;
}

.card-left, .card-right  {
    flex: 1;
    margin: 0 5px 0 5px;
    /*border: 1px solid  var(--primary); */
    box-shadow: rgba(131, 171, 163, 0.9) 0px 3px 5px 0px;
    display: flex;
    border-radius: 5px;
}

.card-left {
   /* padding: 20px; */
    background-color:  	var(--quarterly);
    position: relative;
    padding: 0 auto;
    align-items: center;
    justify-content: center;
}

.card-box {
    margin: 10px;
    overflow: hidden;
    border-radius: 5px;
}

#portfolio img {
    width: 100%;
    object-fit: cover;
    transition: transform 2s;
}

#portfolio img:hover  {
    transform: scale(1.1);
} 

.content-box {
    margin: 20% auto;
    width: 80%;
}
/*
.card:nth-child(1) {
    grid-template-areas: "text img";
    background-color: blue;
} */
.title > .info {
    color: var(--primary);
    font-size: 1.8rem;
    margin-left: 8px;
}

.sub-title > .info {
    font-size: 1.1rem;
    padding-top: 10px;
    margin-left: 8px;
    margin-top: 50px;
    color: var(--tertiary);
    font-weight: bold;
}

.description, .sub-description > .info {
    margin-left: 8px;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    background-color:   var(--primary);
}

.mdl-button:hover {
    color: red;
} 


@media screen and (max-width: 1024px) {
    .portfolio-container {
        margin: 20px 100px;
    }
    #portfolio .card {
        margin: 0;
    }
    .content-box {
        margin: 10% auto;
    }
}


@media screen and (max-width: 768px) {
    #portfolio {
        padding: 0;
    }
    #portfolio .card {
        display: inline;
    }
    #portfolio .card-left {
        margin: 0;
    }
    #portfolio .card-right {
        margin: 5px 0 50px;
    }
}

@media screen and (max-width: 667px){
    .portfolio-container {
        margin: 20px 50px;
    }
}

@media screen and (max-width: 480px){
    .portfolio-container {
        margin: 20px 0px;
    }
    .title > .info {
        font-size: 1.6rem;
    }
    .sub-title > .info {
        margin-top: 20px;

    }
}

@media screen and (max-width: 320px) {
    #portfolio {
        padding: 20px;
    }
    #portfolio .line {
        width: 185px;
    }
    #portfolio h1 {
        font-size: 35px;
    }
    #portfolio .mdl-grid {
        padding: 0;
    }
    #portfolio .card-left, .card-right {
        margin: 0;
    }
    #portfolio .card-left {
        padding: 10px;
    }
    .card-box {
        margin: 0px;
    }

    #portfolio img {
        height: 200px;
    }
    .content-box{
        width: 90%;
    }
} 