.btn-green {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 3px;
  color: var(--quinary);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px 5px 7px;
  padding: 18px 15px 3px 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
}

.btn-green:hover {
  background-color: rgba(131, 171, 163, 0.7);
  border: 1px solid rgba(131, 171, 163, 0.7);
}

.btn-white {
  background-color: var(--quinary);
  border: 1px solid var(--primary);
  border-radius: 3px;
  color: var(--primary);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px 5px 7px;
  padding: 18px 15px 3px 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  outline: none;
}

.btn-white:hover {
  cursor: pointer;
  background-color: #e7e7e7;
  outline: none;
}

.btn-yellow {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  border-radius: 3px;
  color: var(--quinary);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0px 5px 0px 7px;
  padding: 13px 15px 0px;
  transition-duration: 0.4s;
  outline: none;
}

.btn-yellow:hover,
.btn-yellow:focus {
  box-shadow: inset 0 0 0 2em var(--primary);
}

.btn-green > .info {
  line-height: 0;
  text-transform: uppercase;
}

.btn-white > .info {
  line-height: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 380px) {
  .btn-green {
    width: 100%;
  }
  .btn-white {
    width: 100%;
  }
}
