#contact {
  background-color: var(--primary);
  color: var(--quinary);
  z-index: 1;
  padding: 100px 0;
  min-height: 100vh;
}

.contact-container {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  text-align: center;
}

#contact h1 {
  font-size: 2rem;
  text-align: center;
}

#contact .line-container {
  margin-left: 30px;
}

#contact .line {
  margin: -43px auto 10px;
  width: 170px;
  height: 12px;
  background-color: var(--tertiary);
}

#contact h2 {
  font-size: 1.7rem;
}

#contact h3 {
  font-size: 1.5rem;
}

#contact .subtitle {
  margin-top: 10px;
  margin-left: 150px;
  color: var(--secondary);
}

#contact .first-part {
  margin: 30px auto;
  font-size: 30px;
}

#contact .first-part p {
  font-size: 1.1rem;
}

@media screen and (max-width: 768px) {
  .contact-container {
    padding: 0 50px;
  }
}

@media screen and (max-width: 400px) {
  .contact-container {
    padding: 0 20px;
  }
  #contact .subtitle {
    font-size: 22px;
    margin-left: 120px;
  }
  #contact h1 {
    font-size: 35px;
  }
  #contact h2 {
    line-height: 30px;
  }
  #contact h3 {
    margin: 10px 0;
  }
}
